@model BarKick.Models.ViewModels.DetailsBartender

@{
    ViewBag.Title = "Bartender Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Bartender Details</h1>

<div>
    <a class="btn btn-primary" href="~/Bartender/Edit/@Model.SelectedBartender.BartenderId">Update Bartender</a>
    <a class="btn btn-danger" href="~/Bartender/DeleteConfirm/@Model.SelectedBartender.BartenderId">Delete Bartender</a>
    <a class="btn btn-info" href="~/Bartender/List">Return to Bartender List</a>
</div>

@if (Model.SelectedBartender != null)
{
    <div class="mt-3">
        <h4>Name:</h4>
        <p>@Model.SelectedBartender.FirstName @Model.SelectedBartender.LastName</p>
        <h4>Email:</h4>
        <p>@Model.SelectedBartender.Email</p>

        <h4>Venues Employed At:</h4>
        @if (Model.VenueBartenders != null && Model.VenueBartenders.Any())
        {
            <ul>
                @foreach (var venue in Model.VenueBartenders)
                {
                    <li>
                        <a href="/Venue/Details/@venue.VenueID">@venue.VenueName, @venue.VenueLocation</a>
                        @if (Model.IsAdmin)
                        {
                            <a class="text-danger" href="/Bartender/Unassociate/@Model.SelectedBartender.BartenderId?VenueID=@venue.VenueID">[x]</a>
                        }
                    </li>
                }
            </ul>
        }
        else
        {
            <p>This bartender is not currently associated with any venues.</p>
        }

        @if (Model.IsAdmin)
        {
            <div class="mt-3">
                <form method="POST" action="/Bartender/Associate/@Model.SelectedBartender.BartenderId">
                    <div class="form-group">
                        <label for="VenueID">Associate with Venue:</label>
                        <select id="VenueID" name="VenueID" class="form-control">
                            <option value="">Select Venue</option>
                            @if (Model.AvailableVenues != null && Model.AvailableVenues.Any())
                            {
                                foreach (var venue in Model.AvailableVenues)
                                {
                                    <option value="@venue.VenueID">@venue.VenueName @venue.VenueLocation</option>
                                }
                            }
                            else
                            {
                                <option value="">No available venues</option>
                            }
                        </select>
                    </div>
                    <button type="submit" class="btn btn-success">Add Venue</button>
                </form>
            </div>
        }

        @if (Model.CocktailsMade != null && Model.CocktailsMade.Any())
        {
            <div class="mt-4">
                <h4>Cocktails Created By @Model.SelectedBartender.FirstName</h4>
                <ul>
                    @foreach (var cocktail in Model.CocktailsMade)
                    {
                        <li>
                            <a href="/Cocktail/Details/@cocktail.DrinkId">@cocktail.DrinkName</a>
                        </li>
                    }
                </ul>
            </div>
        }
        else
        {
            <p>No cocktails created by @Model.SelectedBartender.FirstName found.</p>
        }
    </div>
}
else
{
    <div class="alert alert-danger">
        <p>@ViewBag.ErrorMessage</p>
    </div>
}

