﻿@model BarKick.Models.ViewModels.DetailsVenue
@{
    ViewBag.Title = "Details";
}
<h2>@Model.Venue.VenueName</h2>

<a class="btn btn-primary" href="~/Venue/Edit/@Model.Venue.VenueID">Update Venue</a>
<a class="btn btn-danger" href="~/Venue/DeleteConfirm/@Model.Venue.VenueID">Delete Venue</a>
<a class="btn btn-secondary" href="~/Venue/List"> Return to Venue List</a>

<div>Location: @Model.Venue.VenueLocation</div>

<h3>Teams:</h3>
<div>
    @if (Model.Teams != null && Model.Teams.Any())
    {
        foreach (var team in Model.Teams)
        {
            <div>
                <a href="/Team/Details/@team.TeamID">@team.TeamName</a>
                <form method="post" action="/Venue/RemoveTeamFromVenue">
                    <input type="hidden" name="venueId" value="@Model.Venue.VenueID" />
                    <input type="hidden" name="teamId" value="@team.TeamID" />
                    <input type="submit" value="Unassociate" class="btn btn-danger" />
                </form>
            </div>
        }
    }
    else
    {
        <p>No teams are currently associated with this venue.</p>
    }

    <h4>Add New Team:</h4>
    <form method="post" action="/Venue/AddTeamToVenue">
        <input type="hidden" name="venueId" value="@Model.Venue.VenueID" />
        <select name="teamId">
            <option value="">Select Team</option>
            @foreach (var team in Model.AvailableTeams)
            {
                <option value="@team.TeamID">@team.TeamName</option>
            }
        </select>
        <input type="submit" value="Add Team" class="btn btn-primary" />
    </form>
</div>

<h3>Bartenders:</h3>
<div>
    @if (Model.Bartenders != null && Model.Bartenders.Any())
    {
        foreach (var bartender in Model.Bartenders)
        {
            <div>
                <a href="/Bartender/Details/@bartender.BartenderId">@bartender.FirstName @bartender.LastName</a>
                <form method="post" action="/Venue/UnassociateBartender">
                    <input type="hidden" name="VenueID" value="@Model.Venue.VenueID" />
                    <input type="hidden" name="id" value="@bartender.BartenderId" />
                    <input type="submit" value="Unassociate" class="btn btn-danger" />
                </form>
            </div>
        }
    }
    else
    {
        <p>No bartenders are currently associated with this venue.</p>
    }

    <h4>Add New Bartender:</h4>
    <form method="post" action="/Venue/AssociateBartender">
        <input type="hidden" name="VenueID" value="@Model.Venue.VenueID" />
        <select name="id">
            <option value="">Select Bartender</option>
            @foreach (var bartender in Model.AvailableBartenders)
            {
                <option value="@bartender.BartenderId">@bartender.FirstName @bartender.LastName</option>
            }
        </select>
        <input type="submit" value="Hire Bartender" class="btn btn-primary" />
    </form>

</div>

