@model BarKick.Models.ViewModels.DetailsCocktail

@{
    ViewBag.Title = "Cocktail Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.SelectedCocktail.DrinkName</h2>
<a class="btn btn-primary" href="~/Cocktail/Edit/@Model.SelectedCocktail.DrinkId">Update Cocktail</a>
<a class="btn btn-danger" href="~/Cocktail/DeleteConfirm/@Model.SelectedCocktail.DrinkId">Delete Cocktail</a>
<a class="btn btn-secondary" href="~/Cocktail/List"> Return to Cocktail List</a>

@if (Model.SelectedCocktail != null)
{
    <p>
        Drink Recipe: @Model.SelectedCocktail.DrinkRecipe
        <br />
        Alcoholic Ingredient: @Model.SelectedCocktail.LiqIn
        <br />
        Mix Ingredients: @Model.SelectedCocktail.MixIn
        <br />
        Created by: <a href="~/Bartender/Details/@Model.SelectedCocktail.BartenderId">@(Model.SelectedCocktail.FirstName + " " + Model.SelectedCocktail.LastName)</a>

    </p>
}
else
{
    <p>@ViewBag.ErrorMessage</p>
}
